<!-- FILES' AND DIRECTORIES' PAGE(DEPRECATED SINCE THE FRONT-END IMPLEMENTATION) -->

<h1>Meus arquivos </h1>
<hr/>:

<p> <% @directories.each do |d|  %>

      <%=form_tag :action => 'navigate', :method => 'POST' do%>
        <%= hidden_field_tag(:parent_id, d) %>
        <%= submit_tag d.split("/").last %>

      <% end %>
    <% end %>
</p>

<p><% @files.each do |f|%>
  <%= f.split("/").last %>  <%= link_to("Download", @client.media(f)['url']) %> <br/>
  <% end %>
</p>
